@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.maplibregl-popup-content {
  padding: 0px !important;
}
